Repository key4hep/k4RecTracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        types: [c++]
        language: system
      - id: ruff-format
        name: ruff-format
        entry: ruff format --force-exclude
        types: [python]
        language: system

Add try-catch to fix KALMAN_REF bug which causes the whole process to crash because a single track failure
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

Pre-commit
  Tracking/components/GenfitTrackFitter.cpp
Due: clang-format

Make try-catch more specific
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

Fix TracksFromGenParticles - build tracks only for particles that reach the calorimeter (#86)
  Tracking/components/TracksFromGenParticles.cpp
Due: clang-format

Fix fit crash + remove error messages in INFO + fix jacobian + fix trackState definition
  Tracking/components/GGTFTrackFinder.cpp
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/include/genfit_interfaces/GenfitDebugLevel.h
  Tracking/include/genfit_interfaces/GenfitTrack.h
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

Add comments + pre-commit
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/include/genfit_interfaces/GenfitDebugLevel.h
Due: clang-format

Add all plugin build directories to GAUDI_PLUGIN_PATH for tests
  CMakeLists.txt
Due: none

Add the plugin build directories to LD_LIBRARY_PATH too
  CMakeLists.txt
Due: none

Add all plugin build directories to LD_LIBRARY_PATH and GAUDI_PLUGIN_PATH for tests (#89)
  CMakeLists.txt
Due: none

Update default .gitignore
  .gitignore
Due: none

Avoid using TrackState alias
  Tracking/test/testTrackMerger/test_track_merger.py
Due: ruff-format

Remove unused code because k4run got outsourced
  Tracking/test/testTrackMerger/test_track_merger.py
Due: ruff-format

TrackMerger: tolerances configurable, wrapping edm4hep-native getTrackState
  Tracking/components/TrackMerger.cpp
  Tracking/test/testTrackMerger/test_track_merger.py
Due: clang-format, ruff-format

Update comments
  Tracking/test/testTrackMerger/test_track_merger.py
  Tracking/test/testTrackMerger/test_track_merger_steer.py
Due: ruff-format

Add TrackMerger test to CMakeLists
  Tracking/CMakeLists.txt
Due: none

TrackMerger: Remove cleanup test upon request
  Tracking/CMakeLists.txt
Due: none

Add TrackMerger test
  Tracking/test/testTrackMerger/test_track_merger.py
Due: ruff-format

Outsource steering file
  Tracking/CMakeLists.txt
  Tracking/test/testTrackMerger/test_track_merger.py
  Tracking/test/testTrackMerger/test_track_merger_steer.py
Due: ruff-format

TrackMerger: Improved variable names
  Tracking/components/TrackMerger.cpp
  Tracking/test/testTrackMerger/test_track_merger.py
Due: clang-format, ruff-format

Add TrackMerger
  Tracking/components/TrackMerger.cpp
Due: clang-format

Outsource k4run track_merger to its own CTest
  Tracking/CMakeLists.txt
  Tracking/test/testTrackMerger/test_track_merger.py
Due: ruff-format

TrackMerger: Update test var names as well
  Tracking/test/testTrackMerger/test_track_merger.py
Due: ruff-format

Add track merging algorithm based on track parameter compatibility (#87)
  Tracking/CMakeLists.txt
  Tracking/components/TrackMerger.cpp
  Tracking/test/testTrackMerger/test_track_merger.py
  Tracking/test/testTrackMerger/test_track_merger_steer.py
Due: clang-format, ruff-format

cleaning up unused histograms, correct CausedByGeneratorMCParticle implementation, add seed pixel charge histogram
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/include/VTXdigi_tools.h
  VTXdigi_Modular/src/ChargeCollector_impl.cpp
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
  VTXdigi_Modular/src/VTXdigi_tools.cpp
Due: clang-format

Update Key4hep CI
  .github/workflows/key4hep-build.yaml
Due: none

Fix TrackFinder test
  k4RecTrackerTracking/test/testTrackFinder/test_trackFinder.sh
Due: none

Rename Tracking folder to avoid shadowing
  CMakeLists.txt
  k4RecTrackerTracking/CMakeLists.txt
  k4RecTrackerTracking/README.md
  k4RecTrackerTracking/components/GGTFTrackFinder.cpp
  k4RecTrackerTracking/components/GenfitTrackFitter.cpp
  k4RecTrackerTracking/components/PerfectTrackFinder.cpp
  k4RecTrackerTracking/components/PlotTrackHitResiduals.cpp
  k4RecTrackerTracking/components/TrackMerger.cpp
  k4RecTrackerTracking/components/TrackdNdxDelphesBased.cpp
  k4RecTrackerTracking/components/TrackdNdxDelphesBased.h
  k4RecTrackerTracking/components/TracksFromGenParticles.cpp
  k4RecTrackerTracking/include/FastCircleSeed.h
  k4RecTrackerTracking/include/genfit_interfaces/GenfitField.h
  k4RecTrackerTracking/include/genfit_interfaces/GenfitMaterialInterface.h
  k4RecTrackerTracking/include/genfit_interfaces/GenfitPlanarMeasurement.h
  k4RecTrackerTracking/include/genfit_interfaces/GenfitTrack.h
  k4RecTrackerTracking/include/genfit_interfaces/GenfitWireMeasurement.h
  k4RecTrackerTracking/include/utils.h
  k4RecTrackerTracking/src/genfit_interfaces/GenfitField.cpp
  k4RecTrackerTracking/src/genfit_interfaces/GenfitMaterialInterface.cpp
  k4RecTrackerTracking/src/genfit_interfaces/GenfitPlanarMeasurement.cpp
  k4RecTrackerTracking/src/genfit_interfaces/GenfitTrack.cpp
  k4RecTrackerTracking/src/genfit_interfaces/GenfitWireMeasurement.cpp
  k4RecTrackerTracking/src/utils.cpp
  k4RecTrackerTracking/test/inputFiles/SimpleGatrIDEAv3o1.onnx.md5
  k4RecTrackerTracking/test/testTrackFinder/runTestTrackFinder.py
  k4RecTrackerTracking/test/testTrackFinder/test_trackFinder.sh
  k4RecTrackerTracking/test/testTrackFitter/runTestTrackFitter.py
  k4RecTrackerTracking/test/testTrackFitter/test_trackFitter.sh
  k4RecTrackerTracking/test/testTrackMerger/test_track_merger.py
  k4RecTrackerTracking/test/testTrackMerger/test_track_merger_steer.py
  k4RecTrackerTracking/test/testTracksFromGenParticles/runTracksFromGenParticles.py
  k4RecTrackerTracking/test/testTracksFromGenParticles/test_TracksFromGenParticles.sh
Due: clang-format, ruff-format

VTXdigi: implement correct secondary/delta check via MCParticle production vertex location.
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/include/VTXdigi_tools.h
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
  VTXdigi_Modular/src/VTXdigi_tools.cpp
Due: clang-format

Attempted fix
  Tracking/components/TrackdNdxDelphesBased.cpp
Due: clang-format

Added protection against 0 return values for nclusters/mm
  Tracking/components/TrackdNdxDelphesBased.cpp
Due: clang-format

Fix formatting
  Tracking/components/TrackdNdxDelphesBased.cpp
Due: clang-format

change geometry returned by geosvc to be const
  Tracking/components/GenfitTrackFitter.cpp
Due: clang-format

avoid name conflict
  Tracking/components/GenfitTrackFitter.cpp
Due: clang-format

Change geometry returned by geosvc to be used as const in GenfitTrackFitter.cpp (#93)
  Tracking/components/GenfitTrackFitter.cpp
Due: clang-format

VTXdigi: fixing two obvious bugs. Derived eta func looks reasonable at first glance.
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/src/ChargeCollector_impl.cpp
Due: clang-format

printout info message when DR calo is not found
  Tracking/components/TracksFromGenParticles.cpp
Due: clang-format

clarify the printout message
  Tracking/components/TracksFromGenParticles.cpp
Due: clang-format

Link Tracking to Pandora SDK target
  Tracking/CMakeLists.txt
Due: none
