Repository key4hep/k4RecTracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        types: [c++]
        language: system
      - id: ruff-format
        name: ruff-format
        entry: ruff format --force-exclude
        types: [python]
        language: system

Use std::exception instead of genfit::Exception
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

VTXdigi: refactoring charge deposition into Path class
  VTXdigi_Modular/src/ChargeCollector_impl.cpp
  VTXdigi_Modular/src/ChargeCollector_impl.h
Due: clang-format

Fix UpdateTrackState in order to use as pca the extrapolation of the track close to the referencePoint. The extrapolation is implemented using genfit native methods + add units to variable names
  Tracking/include/genfit_interfaces/GenfitTrack.h
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

Avoid a singular z0 scale near the reference point
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

Added comments of trackState atIP for displaced tracking
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

Add kMinSigmaZ0 to keep positive definite cov matrix
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

Substitute genfit::Exception with std::exception
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

Remove PCAInfo
  Tracking/include/genfit_interfaces/GenfitTrack.h
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

TrackFitter: Fix units in the helix-to-cartesian conversion + Fixed broken associations between hits and tracks introduced during the filtering stage (#101)
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/include/genfit_interfaces/GenfitTrack.h
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

Require onnxruntime 1.16.0, the first version providing onnxruntime::onnxruntime
  CMakeLists.txt
Due: none

Remove DD4hep rpath and compiler flags setting, already done by Key4hepConfig.cmake
  CMakeLists.txt
Due: none

Clean up CMakeLists.txt (#105)
  CMakeLists.txt
Due: none

Remove cluster 0 from outputs + re-factorization of the gaudi functional
  Tracking/components/GGTFTrackFinder.cpp
Due: clang-format

Pre-commit hook
  Tracking/components/GGTFTrackFinder.cpp
Due: clang-format

Pre-commit
  Tracking/components/GGTFTrackFinder.cpp
Due: clang-format

Fix fitter test: do not skip track type 0
  Tracking/test/testTrackFitter/runTestTrackFitter.py
Due: ruff-format

Revert modification, use DISABLE_ALL instead of ORT_ENABLE_EXTENDED
  Tracking/components/GGTFTrackFinder.cpp
Due: clang-format

Fix typo
  Tracking/components/GGTFTrackFinder.cpp
Due: clang-format

Check number of hits before appending them to the collections
  Tracking/components/GGTFTrackFinder.cpp
Due: clang-format

Fix deprecated getTrackState usage in TrackMerger
  Tracking/components/TrackMerger.cpp
Due: clang-format

Add SimTrackerHitCellMerger to accumulate SimHit step lengths per cell
  Tracking/components/SimTrackerHitCellMerger.cpp
Due: clang-format

Add a test for SimTrackerHitCellMerger
  Tracking/CMakeLists.txt
  Tracking/test/testSimTrackerHitCellMerger/test_simtrackerhit_cell_merger.py
  Tracking/test/testSimTrackerHitCellMerger/test_simtrackerhit_cell_merger_steer.py
Due: ruff-format

Rework SimTrackerHitCellMerger properties and truth-track ranking
  Tracking/components/SimTrackerHitCellMerger.cpp
  Tracking/include/PropertyChoices.h
Due: clang-format

Cover the new SimTrackerHitCellMerger options in its test
  Tracking/test/testSimTrackerHitCellMerger/test_simtrackerhit_cell_merger.py
  Tracking/test/testSimTrackerHitCellMerger/test_simtrackerhit_cell_merger_steer.py
Due: ruff-format

Small touch-up
  Tracking/components/SimTrackerHitCellMerger.cpp
Due: clang-format

Keep the PropertyChoices helper inside SimTrackerHitCellMerger.cpp
  Tracking/components/SimTrackerHitCellMerger.cpp
  Tracking/include/PropertyChoices.h
Due: clang-format

Rename All to SumAll and put units in SimTrackerHitCellMerger names
  Tracking/components/SimTrackerHitCellMerger.cpp
  Tracking/test/testSimTrackerHitCellMerger/test_simtrackerhit_cell_merger.py
  Tracking/test/testSimTrackerHitCellMerger/test_simtrackerhit_cell_merger_steer.py
Due: clang-format, ruff-format

Fix the representative hit of a merged cell, and its test steering
  Tracking/components/SimTrackerHitCellMerger.cpp
  Tracking/test/testSimTrackerHitCellMerger/test_simtrackerhit_cell_merger_steer.py
Due: clang-format, ruff-format

Changed defaults
  Tracking/components/SimTrackerHitCellMerger.cpp
  Tracking/test/testSimTrackerHitCellMerger/test_simtrackerhit_cell_merger.py
  Tracking/test/testSimTrackerHitCellMerger/test_simtrackerhit_cell_merger_steer.py
Due: clang-format, ruff-format

Follow the new RepresentativeKinematics default in the test
  Tracking/test/testSimTrackerHitCellMerger/test_simtrackerhit_cell_merger.py
  Tracking/test/testSimTrackerHitCellMerger/test_simtrackerhit_cell_merger_steer.py
Due: ruff-format

Cover ExcludeOverlayHits in the SimTrackerHitCellMerger test
  Tracking/test/testSimTrackerHitCellMerger/test_simtrackerhit_cell_merger.py
  Tracking/test/testSimTrackerHitCellMerger/test_simtrackerhit_cell_merger_steer.py
Due: ruff-format

Updated comments
  Tracking/components/SimTrackerHitCellMerger.cpp
Due: clang-format

Rename to MultiTrackCellHandling and default to PerTrack
  Tracking/components/SimTrackerHitCellMerger.cpp
  Tracking/test/testSimTrackerHitCellMerger/test_simtrackerhit_cell_merger.py
  Tracking/test/testSimTrackerHitCellMerger/test_simtrackerhit_cell_merger_steer.py
Due: clang-format, ruff-format

Removed output ordering
  Tracking/components/SimTrackerHitCellMerger.cpp
Due: clang-format

Updated Comments
  Tracking/components/SimTrackerHitCellMerger.cpp
Due: clang-format

Updated default value for ExlcudeOverlayHits
  Tracking/components/SimTrackerHitCellMerger.cpp
Due: clang-format

Updated test according to changes in Functional
  Tracking/test/testSimTrackerHitCellMerger/test_simtrackerhit_cell_merger.py
  Tracking/test/testSimTrackerHitCellMerger/test_simtrackerhit_cell_merger_steer.py
Due: ruff-format

Remove unnecessary getTrackState wrapper method
  Tracking/components/TrackMerger.cpp
Due: clang-format

Apply clang-format
  Tracking/components/TrackMerger.cpp
Due: clang-format
