Repository key4hep/k4RecTracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        types: [c++]
        language: system
      - id: ruff-format
        name: ruff-format
        entry: ruff format --force-exclude
        types: [python]
        language: system

Add files via upload
  DCHdigi/include/BetheBloch.h
  DCHdigi/include/DCHFFTNoise.h
  DCHdigi/include/DCHUtilities.h
  DCHdigi/include/DCHXT2DLUT.h
  DCHdigi/include/DCHdigi_v03.h
Due: clang-format

Add files via upload
  DCHdigi/test/test_DCHdigi/par.root
Due: none

Add files via upload
  DCHdigi/test/test_DCHdigi/runDCHdigiV3.py
Due: ruff-format

Update runDCHdigiV3.py
  DCHdigi/test/test_DCHdigi/runDCHdigiV3.py
Due: ruff-format

Update execution command in runDCHdigiV3.py
  DCHdigi/test/test_DCHdigi/runDCHdigiV3.py
Due: ruff-format

Update test script for DCH v3 simulation and digitization
  DCHdigi/test/test_DCHdigi/test_DCHdigi.sh
Due: none

Change debug output file name in check_DCHdigi_output.py
  DCHdigi/test/test_DCHdigi/check_DCHdigi_output.py
Due: ruff-format

pre-commit hook & clang formatting
  Tracking/README.md
  Tracking/components/GGTFTrackFinder.cpp
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/components/PerfectTrackFinder.cpp
  Tracking/include/FastCircleSeed.h
  Tracking/include/genfit_interfaces/GenfitField.h
  Tracking/include/genfit_interfaces/GenfitMaterialInterface.h
  Tracking/include/genfit_interfaces/GenfitPlanarMeasurement.h
  Tracking/include/genfit_interfaces/GenfitTrack.h
  Tracking/include/genfit_interfaces/GenfitWireMeasurement.h
  Tracking/include/utils.h
  Tracking/src/genfit_interfaces/GenfitField.cpp
  Tracking/src/genfit_interfaces/GenfitMaterialInterface.cpp
  Tracking/src/genfit_interfaces/GenfitPlanarMeasurement.cpp
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
  Tracking/src/genfit_interfaces/GenfitWireMeasurement.cpp
  Tracking/src/utils.cpp
  Tracking/test/testTrackFinder/runTestTrackFinder.py
  Tracking/test/testTrackFitter/runTestTrackFitter.py
Due: clang-format, ruff-format

VTXdigi: More plots, minor fixes
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
Due: clang-format

ADD functions to make the code cleaner + ADD unique_ptr to free memory when needed + MAKE DCH name configurable Ã+ ADD comments about ownership
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/include/genfit_interfaces/GenfitPlanarMeasurement.h
  Tracking/include/genfit_interfaces/GenfitWireMeasurement.h
  Tracking/src/genfit_interfaces/GenfitPlanarMeasurement.cpp
  Tracking/src/genfit_interfaces/GenfitWireMeasurement.cpp
Due: clang-format

Pre-commit checks
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/include/genfit_interfaces/GenfitPlanarMeasurement.h
  Tracking/include/genfit_interfaces/GenfitWireMeasurement.h
Due: clang-format

MOVE custom 2d points in utils.h + REMOVE POINT3D in order to use TVector3
  Tracking/include/FastCircleSeed.h
  Tracking/include/utils.h
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

ADD comments on units conversion + REMOVE duplication of genfitField initialization
  Tracking/src/genfit_interfaces/GenfitField.cpp
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

USE dd4hep units
  Tracking/src/genfit_interfaces/GenfitField.cpp
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

ADD comments in GenfitTrackFitter.cpp
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

REFACTOR track state extraction into a dedicated function
  Tracking/include/genfit_interfaces/GenfitTrack.h
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

FIX pre-commit
  Tracking/include/genfit_interfaces/GenfitTrack.h
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

FIX test of the fitter
  Tracking/test/testTrackFitter/runTestTrackFitter.py
Due: ruff-format

USE magnetic field dd4hep units + ADD zero guards
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

ADD comments
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

DELETE genfitFitter
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

MOVE genfitFitter outside try-catch
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

REMOVE redundant loops
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

FIX minor changes
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

VTXdigi: Small pre-PR fixes
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/include/VTXdigi_tools.h
  VTXdigi_Modular/src/ChargeCollector_impl.cpp
  VTXdigi_Modular/src/ChargeCollector_impl.h
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
  VTXdigi_Modular/src/VTXdigi_tools.cpp
Due: clang-format

VTXdigi: Work on readme. not fully done.
  VTXdigi_Modular/README.md
Due: none

VTXdigi: implementing 3 options for digiHit position uncertainty estimation
  VTXdigi_Modular/README.md
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/include/VTXdigi_tools.h
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
  VTXdigi_Modular/src/VTXdigi_tools.cpp
Due: clang-format

VTXdigi: add correct timing timestamping
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
Due: clang-format

MOVE constant in utils.h + ADD extra check in DCH decoder
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/include/FastCircleSeed.h
  Tracking/include/utils.h
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
  Tracking/src/utils.cpp
Due: clang-format

Pre-commit fix
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/include/FastCircleSeed.h
  Tracking/include/utils.h
Due: clang-format

FIFix deletion of pointers in genfitrack.cpp
  Tracking/include/genfit_interfaces/GenfitTrack.h
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

Replace std::cerr with throw std::runtime_error
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

USE pointers instead of unique_ptr for track and its representation
  Tracking/include/genfit_interfaces/GenfitTrack.h
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

REMOVE nested try-catch
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

ADD configurable parameters for cov matrix initialization
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/include/genfit_interfaces/GenfitTrack.h
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

FIX: now trackStates are not empty
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/components/PerfectTrackFinder.cpp
  Tracking/include/genfit_interfaces/GenfitTrack.h
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

FIX trackStateAtCalo printout
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/include/genfit_interfaces/GenfitTrack.h
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

USE unique_ptr for genfitFitter
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format
