Repository key4hep/k4RecTracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        types: [c++]
        language: system
      - id: ruff-format
        name: ruff-format
        entry: ruff format --force-exclude
        types: [python]
        language: system

VTXdigi: implementing ChargeCollector_Debug (to create L-shaped cluster for each simHit), add more plots
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/include/VTXdigi_tools.h
  VTXdigi_Modular/src/ChargeCollector.cpp
  VTXdigi_Modular/src/ChargeCollector.h
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
  VTXdigi_Modular/src/VTXdigi_tools.cpp
Due: clang-format

VTXdigi: implement clustering algorithm. Does not match simHits to clusters or create digiHits, yet.
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/include/VTXdigi_tools.h
  VTXdigi_Modular/src/ChargeCollector.cpp
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
  VTXdigi_Modular/src/VTXdigi_tools.cpp
Due: clang-format

VTXdigi: Implementing saving which simHits contribute charge to a pixel (harder than it looked at first...). Refactoring from std::array<int,2> to std::pair<int,int> for pixel indices etc.
  VTXdigi_Modular/include/IChargeCollector.h
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/include/VTXdigi_tools.h
  VTXdigi_Modular/src/ChargeCollector.cpp
  VTXdigi_Modular/src/ChargeCollector.h
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
  VTXdigi_Modular/src/VTXdigi_tools.cpp
Due: clang-format

Remove comment in french
  VTXdigiDetailed/CMakeLists.txt
Due: none

VTXdigi: refactoring event loop for better readability
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/include/VTXdigi_tools.h
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
  VTXdigi_Modular/src/VTXdigi_tools.cpp
Due: clang-format

VTXdigi: Optimizing unnecessarily copying pixels to Clutster objects by using shared pointers. cleaning up event loop & moving helper functions ot VTXdigi_tools.
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/include/VTXdigi_tools.h
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
  VTXdigi_Modular/src/VTXdigi_tools.cpp
Due: clang-format

VTXdigi: Implement reconstructing the particle's path through the sensor. Verify output histograms agains VTXdigi_Allpix2 implementation
  VTXdigi_Modular/include/IChargeCollector.h
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/include/VTXdigi_tools.h
  VTXdigi_Modular/src/ChargeCollector.cpp
  VTXdigi_Modular/src/ChargeCollector.h
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
  VTXdigi_Modular/src/VTXdigi_tools.cpp
Due: clang-format

remove compatibility with older Gaudi versions
  Tracking/components/PlotTrackHitResiduals.cpp
Due: clang-format

VTXdigi: flesh out ChargeCollector_LUT(), implement parsing LookupTables from file.
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/src/ChargeCollector.cpp
  VTXdigi_Modular/src/ChargeCollector.h
Due: clang-format

VTXdigi: finished implementing LUT-based charge collection. Is relatively slow, performance improvements probably from LUT (or from hitmap)
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/include/VTXdigi_tools.h
  VTXdigi_Modular/src/ChargeCollector.cpp
  VTXdigi_Modular/src/ChargeCollector.h
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
  VTXdigi_Modular/src/VTXdigi_tools.cpp
Due: clang-format

VTXdigi: ~40% optimisation, still loads to do. Why are debugging messages so expensive :(
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/src/ChargeCollector.cpp
  VTXdigi_Modular/src/ChargeCollector.h
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
Due: clang-format

VTXdigi: convert from managed to raw pointers, ownership management is not needed
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/include/VTXdigi_tools.h
  VTXdigi_Modular/src/ChargeCollector.cpp
  VTXdigi_Modular/src/ChargeCollector.h
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
  VTXdigi_Modular/src/VTXdigi_tools.cpp
Due: clang-format

Rename ML-track finder
  Tracking/README.md
  Tracking/components/GGTFTrackFinder.cpp
  Tracking/components/TracksFromGenParticles.cpp
  Tracking/include/GenFitter.h
  Tracking/include/utils.h
  Tracking/src/GenFitter.cpp
  Tracking/src/utils.cpp
  Tracking/test/testTrackFinder/runTestTrackFinder.py
Due: clang-format, ruff-format

INCLUDE extra functions in genfitTrack
  Tracking/CMakeLists.txt
  Tracking/README.md
  Tracking/components/GGTFTrackFinder.cpp
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/components/PerfectTrackFinder.cpp
  Tracking/components/PlotTrackHitResiduals.cpp
  Tracking/include/FastCircleSeed.h
  Tracking/include/genfit_interfaces/GenfitField.h
  Tracking/include/genfit_interfaces/GenfitMaterialInterface.h
  Tracking/include/genfit_interfaces/GenfitPlanarMeasurement.h
  Tracking/include/genfit_interfaces/GenfitTrack.h
  Tracking/include/genfit_interfaces/GenfitWireMeasurement.h
  Tracking/include/utils.h
  Tracking/src/genfit_interfaces/GenfitField.cpp
  Tracking/src/genfit_interfaces/GenfitMaterialInterface.cpp
  Tracking/src/genfit_interfaces/GenfitPlanarMeasurement.cpp
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
  Tracking/src/genfit_interfaces/GenfitWireMeasurement.cpp
  Tracking/src/utils.cpp
  Tracking/test/testTrackFitter/runTestTrackFitter.py
  Tracking/test/testTrackFitter/test_trackFitter.sh
Due: clang-format, ruff-format

FIX variable names
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

FIX debug level description
  Tracking/components/GenfitTrackFitter.cpp
Due: clang-format

FIX comments
  Tracking/components/GGTFTrackFinder.cpp
  Tracking/components/GenfitTrackFitter.cpp
Due: clang-format

LINK eigen
  CMakeLists.txt
  Tracking/CMakeLists.txt
Due: none

ADD extra check for fit failures
  Tracking/components/GenfitTrackFitter.cpp
Due: clang-format

VTXdigi: Streamlining SimHitWrapper vs SimTrackerHit passing, cleanup and adding doxygen comments. Implementing a custom simHit truthPosition, to be defined by the ChargeCollection Algorithm
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/include/VTXdigi_tools.h
  VTXdigi_Modular/src/ChargeCollector.cpp
  VTXdigi_Modular/src/ChargeCollector.h
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
  VTXdigi_Modular/src/VTXdigi_tools.cpp
Due: clang-format

Update Key4hepConfig.cmake: allow C++26
  cmake/Key4hepConfig.cmake
Due: none

VTXdigi: another 15% performance increase from improvements to ChargeCollector_LUT::DistributeSegmentCharge() and HitMap.FillCharge()
  VTXdigi_Modular/src/ChargeCollector.cpp
  VTXdigi_Modular/src/ChargeCollector.h
  VTXdigi_Modular/src/VTXdigi_tools.cpp
Due: clang-format

VTXdigi: small plotting improvements
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/src/ChargeCollector.cpp
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
Due: clang-format

Adding make install rule to Makefile
  Makefile
Due: none

VTXdigi: adding counters. Cleaning up (mainly removing unnecessatry inclusions and moving functions to classes they should be a member of)
  VTXdigi_Modular/include/IChargeCollector.h
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/include/VTXdigi_tools.h
  VTXdigi_Modular/src/ChargeCollector.cpp
  VTXdigi_Modular/src/ChargeCollector.h
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
  VTXdigi_Modular/src/VTXdigi_tools.cpp
Due: clang-format

ADD flag to enable brems + REMOVE std::exit in GenfitTrackFitter + RENAME m_skip_background to m_skip_unmatchedTracks + COMMENT m_singleEvaluation
  Tracking/components/GenfitTrackFitter.cpp
Due: clang-format

REMOVE unused struct in FastCircleSeed
  Tracking/include/FastCircleSeed.h
Due: clang-format

FIX track fitter test
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/test/testTrackFitter/runTestTrackFitter.py
Due: clang-format, ruff-format

ADD custom event-by-event initialization
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/include/genfit_interfaces/GenfitTrack.h
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
  Tracking/test/testTrackFitter/runTestTrackFitter.py
Due: clang-format, ruff-format

ADD custom event-by-event initialization
  Tracking/test/testTrackFitter/runTestTrackFitter.py
Due: ruff-format

REMOVE debug level and USE gaudi-friendly OutputLevel
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
  Tracking/test/testTrackFitter/runTestTrackFitter.py
Due: clang-format, ruff-format

ADD an additional track collection with filtered hits
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/include/genfit_interfaces/GenfitField.h
  Tracking/include/genfit_interfaces/GenfitMaterialInterface.h
  Tracking/include/genfit_interfaces/GenfitPlanarMeasurement.h
  Tracking/include/genfit_interfaces/GenfitTrack.h
  Tracking/include/genfit_interfaces/GenfitWireMeasurement.h
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
  Tracking/src/genfit_interfaces/GenfitWireMeasurement.cpp
  Tracking/test/testTrackFitter/runTestTrackFitter.py
Due: clang-format, ruff-format

ADD multiple fitters
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/include/genfit_interfaces/GenfitTrack.h
  Tracking/src/genfit_interfaces/GenfitPlanarMeasurement.cpp
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

ADD chi2 output and better comments on perfect tracking
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/components/PerfectTrackFinder.cpp
  Tracking/test/testTrackFitter/test_trackFitter.sh
Due: clang-format

FIX magnetic field!
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/include/genfit_interfaces/GenfitTrack.h
  Tracking/include/utils.h
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
  Tracking/src/utils.cpp
  Tracking/test/runGenFitTrackingOnSimplifiedDriftChamber.py
Due: clang-format, ruff-format

ADAPT magnetic field to be used outside the solenoid
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/src/genfit_interfaces/GenfitField.cpp
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

ADD comments and displacedTracking
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/components/PerfectTrackFinder.cpp
  Tracking/include/genfit_interfaces/GenfitField.h
  Tracking/include/genfit_interfaces/GenfitMaterialInterface.h
  Tracking/include/genfit_interfaces/GenfitPlanarMeasurement.h
  Tracking/include/genfit_interfaces/GenfitTrack.h
  Tracking/include/genfit_interfaces/GenfitWireMeasurement.h
  Tracking/src/genfit_interfaces/GenfitPlanarMeasurement.cpp
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
  Tracking/src/genfit_interfaces/GenfitWireMeasurement.cpp
Due: clang-format

VTXdigi: Path computation cleanup. Adding MANY histograms
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/include/VTXdigi_tools.h
  VTXdigi_Modular/src/ChargeCollector.cpp
  VTXdigi_Modular/src/ChargeCollector.h
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
  VTXdigi_Modular/src/VTXdigi_tools.cpp
Due: clang-format

FIX charge reconstruction
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

Add files via upload
  DCHdigi/src/DCHFFTNoise.cpp
  DCHdigi/src/DCHXT2DLUT.cpp
  DCHdigi/src/DCHdigi_v03.cpp
Due: clang-format
