Repository key4hep/k4RecTracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ruff-format

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --force-exclude
  language: system

Adapt TrackdNdx to EDM4hep TrackState API
  Tracking/components/TrackdNdxDelphesBased.cpp
Due: clang-format

Remove goto statements from TrackdNdx
  Tracking/components/TrackdNdxDelphesBased.cpp
Due: clang-format

TrackdNdxDelphesBased Fix (#92)
  Tracking/components/TrackdNdxDelphesBased.cpp
Due: clang-format

Remove cluster 0 from outputs + re-factorization of the gaudi functional
  Tracking/components/GGTFTrackFinder.cpp
Due: clang-format

Pre-commit
  Tracking/components/GGTFTrackFinder.cpp
Due: clang-format

Update Key4hepConfig.cmake
  cmake/Key4hepConfig.cmake
Due: none

changes to GenfitTrackFitter and GenfitWireMeasurment to account for STT cell id
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/src/genfit_interfaces/GenfitWireMeasurement.cpp
  WireTrackerDigi/CMakeLists.txt
  WireTrackerDigi/include/WireTrackerDigi_v01.h
  WireTrackerDigi/src/WireTrackerDigi_v01.cpp
Due: clang-format

changes to README.md files to reflect change to WireTrackerDigi, update to paths in CMakeLists.txt and change to gaudi property descriptions in WireTrackerDigi_v01
  CMakeLists.txt
  README.md
  WireTrackerDigi/README.md
  WireTrackerDigi/include/WireTrackerDigi_v01.h
Due: clang-format

changed type of m_wt_info to WireTracker_info_struct
  WireTrackerDigi/include/WireTrackerDigi_v01.h
  WireTrackerDigi/src/WireTrackerDigi_v01.cpp
Due: clang-format

changed DCHdigi_v02 to WireTrackerDigi_v01. WireTrackerDigi_v01 can now be used for STT digitization.
  CMakeLists.txt
  WireTrackerDigi/CMakeLists.txt
  WireTrackerDigi/README.md
  WireTrackerDigi/dataFormatExtension/driftChamberHit.yaml
  WireTrackerDigi/include/AlgData.h
  WireTrackerDigi/include/DCHdigi_v01.h
  WireTrackerDigi/include/DCHsimpleDigitizer.h
  WireTrackerDigi/include/DCHsimpleDigitizerExtendedEdm.h
  WireTrackerDigi/include/WireTrackerDigi_v01.h
  WireTrackerDigi/src/DCHdigi_v01.cpp
  WireTrackerDigi/src/DCHsimpleDigitizer.cpp
  WireTrackerDigi/src/DCHsimpleDigitizerExtendedEdm.cpp
  WireTrackerDigi/src/WireTrackerDigi_v01.cpp
  WireTrackerDigi/test/runDCHsimpleDigitizer.py
  WireTrackerDigi/test/runDCHsimpleDigitizerExtendedEdm.py
  WireTrackerDigi/test/test_DCHdigi/check_DCHdigi_output.py
  WireTrackerDigi/test/test_DCHdigi/compact/DCH_standalone_o1_v02.xml
  WireTrackerDigi/test/test_DCHdigi/compact/elements_o1_v01.xml
  WireTrackerDigi/test/test_DCHdigi/compact/materials_o1_v02.xml
  WireTrackerDigi/test/test_DCHdigi/runDCHdigi.py
  WireTrackerDigi/test/test_DCHdigi/runDCHdigiV2.py
  WireTrackerDigi/test/test_DCHdigi/sim_steering.py
  WireTrackerDigi/test/test_DCHdigi/test_DCHdigi.sh
Due: clang-format, ruff-format

clang format fix
  WireTrackerDigi/include/WireTrackerDigi_v01.h
Due: clang-format

Update to file location of DCH tests
  WireTrackerDigi/CMakeLists.txt
Due: none

Fix pre-commit formatting
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/src/genfit_interfaces/GenfitWireMeasurement.cpp
  WireTrackerDigi/src/WireTrackerDigi_v01.cpp
Due: clang-format

changed DCHdigi_v02 to WireTrackerDigi_v01 (#100)
  CMakeLists.txt
  README.md
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/src/genfit_interfaces/GenfitWireMeasurement.cpp
  WireTrackerDigi/CMakeLists.txt
  WireTrackerDigi/README.md
  WireTrackerDigi/dataFormatExtension/driftChamberHit.yaml
  WireTrackerDigi/include/AlgData.h
  WireTrackerDigi/include/DCHdigi_v01.h
  WireTrackerDigi/include/DCHsimpleDigitizer.h
  WireTrackerDigi/include/DCHsimpleDigitizerExtendedEdm.h
  WireTrackerDigi/include/WireTrackerDigi_v01.h
  WireTrackerDigi/src/DCHdigi_v01.cpp
  WireTrackerDigi/src/DCHsimpleDigitizer.cpp
  WireTrackerDigi/src/DCHsimpleDigitizerExtendedEdm.cpp
  WireTrackerDigi/src/WireTrackerDigi_v01.cpp
  WireTrackerDigi/test/runDCHsimpleDigitizer.py
  WireTrackerDigi/test/runDCHsimpleDigitizerExtendedEdm.py
  WireTrackerDigi/test/test_DCHdigi/check_DCHdigi_output.py
  WireTrackerDigi/test/test_DCHdigi/compact/DCH_standalone_o1_v02.xml
  WireTrackerDigi/test/test_DCHdigi/compact/elements_o1_v01.xml
  WireTrackerDigi/test/test_DCHdigi/compact/materials_o1_v02.xml
  WireTrackerDigi/test/test_DCHdigi/runDCHdigi.py
  WireTrackerDigi/test/test_DCHdigi/runDCHdigiV2.py
  WireTrackerDigi/test/test_DCHdigi/sim_steering.py
  WireTrackerDigi/test/test_DCHdigi/test_DCHdigi.sh
Due: clang-format, ruff-format

Include reference points in UpdateTrackState
  Tracking/include/genfit_interfaces/GenfitTrack.h
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

Update first and last if skipTrackOrdering is true
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

Pre-commit
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

Add SetVPPosition
  Tracking/include/genfit_interfaces/GenfitTrack.h
Due: clang-format

Add try-catch to protect fitteState + clean debugLvl
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

Now FittedHits is modified and not created inside ProcessTrack
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/include/genfit_interfaces/GenfitTrack.h
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

Fix jacobian in the conversion helix-cartesian and Fix track initialization accordingly
  Tracking/include/genfit_interfaces/GenfitTrack.h
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

Save first and last hit
  Tracking/include/genfit_interfaces/GenfitTrack.h
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

Add m_genfitTrack to the GenfitTrack's destructor
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

Use m_ + lower camel style for variable names
  Tracking/include/genfit_interfaces/GenfitTrack.h
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

Use unique_ptr for m_genfitTrack
  Tracking/include/genfit_interfaces/GenfitTrack.h
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

Fill fittedHit only if the fit and other trackstate propagation worked fine
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

Pre-commit hook
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

Add units conversion for z0
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

Fixed alias
  WireTrackerDigi/include/WireTrackerDigi_v01.h
Due: clang-format

Fixed DCHdigi_v02 alias (#103)
  WireTrackerDigi/include/WireTrackerDigi_v01.h
Due: clang-format

Implement loading per-deposition charge from a histogram. Decent modelling with the shipped distribution histogram
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/src/ChargeCollector_impl.cpp
  VTXdigi_Modular/src/ChargeCollector_impl.h
  VTXdigi_Modular/test/chargeDepositionDistribution.root
Due: clang-format

add flag to control compilation of Tracking
  CMakeLists.txt
Due: none

add flag to control compilation of DCH
  CMakeLists.txt
  Tracking/CMakeLists.txt
Due: none

Make cmake option name more in line with the rest of the repository
  CMakeLists.txt
Due: none

remove Delphes dep
  CMakeLists.txt
  Tracking/CMakeLists.txt
  Tracking/README.md
  Tracking/components/TrackdNdxClusterCounting.cpp
  Tracking/components/TrackdNdxClusterCounting.h
  Utils/CMakeLists.txt
  Utils/include/k4RecTracker/ClusterCounting.h
  Utils/test/testClusterCounting.cpp
  WireTrackerDigi/CMakeLists.txt
  WireTrackerDigi/README.md
  WireTrackerDigi/include/WireTrackerDigi_v01.h
  WireTrackerDigi/src/WireTrackerDigi_v01.cpp
  cmake/FindDelphes.cmake
  cmake/Project_Config_Template.cmake.in
Due: clang-format

VTXdigi: change number of cluster sizes that get individual uncertainty assignments from 3 to 5
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
Due: clang-format

VTXdigi: include histogram with charge deposition distribution
  VTXdigi_Modular/test/tools/cluster_uncertainty_fits.root
Due: none

remove wiretracker guard
  CMakeLists.txt
  Tracking/CMakeLists.txt
Due: none

Add CMake flags gating Tracking (#97)
  CMakeLists.txt
Due: none

Moved SetVPPosition into the public API
  Tracking/include/genfit_interfaces/GenfitTrack.h
Due: clang-format

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  ruff-format: any of: \.py$
