Repository key4hep/k4RecTracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ruff-format

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --force-exclude
  language: system

format: Fix trailing whitespaces
  CMakeLists.txt
  DCHdigi/include/DCHdigi_v02.h
  DCHdigi/src/DCHdigi_v01.cpp
  DCHdigi/src/DCHdigi_v02.cpp
  DCHdigi/test/test_DCHdigi/check_DCHdigi_output.py
  DCHdigi/test/test_DCHdigi/compact/materials_o1_v02.xml
  DCHdigi/test/test_DCHdigi/sim_steering.py
  README.md
  Tracking/README.md
  Tracking/components/GGTF_tracking.cpp
  Tracking/components/TrackdNdxDelphesBased.cpp
  Tracking/components/TrackdNdxDelphesBased.h
  Tracking/include/utils.hpp
  Tracking/src/utils.cpp
  Tracking/test/runGenFitTrackingOnSimplifiedDriftChamber.py
  Tracking/test/testTrackFinder/runTestTrackFinder.py
  Tracking/test/testTrackFinder/test_trackFinder.sh
  VTXdigi/test/runVTXdigitizer.py
Due: clang-format, ruff-format

format: run clang-format on c++ sources
  DCHdigi/include/DCHdigi_v02.h
  DCHdigi/src/DCHdigi_v01.cpp
  DCHdigi/src/DCHdigi_v02.cpp
  Tracking/components/GGTF_tracking.cpp
  Tracking/components/TrackdNdxDelphesBased.cpp
  Tracking/components/TrackdNdxDelphesBased.h
  Tracking/components/TracksFromGenParticles.cpp
  Tracking/include/utils.hpp
  Tracking/src/utils.cpp
Due: clang-format

format: Run ruff-format
  ARCdigi/test/runARCdigitizer.py
  DCHdigi/test/runDCHsimpleDigitizer.py
  DCHdigi/test/runDCHsimpleDigitizerExtendedEdm.py
  DCHdigi/test/test_DCHdigi/check_DCHdigi_output.py
  DCHdigi/test/test_DCHdigi/runDCHdigi.py
  DCHdigi/test/test_DCHdigi/runDCHdigiV2.py
  DCHdigi/test/test_DCHdigi/sim_steering.py
  Tracking/test/runGenFitTrackingOnSimplifiedDriftChamber.py
  Tracking/test/testTrackFinder/runTestTrackFinder.py
  Tracking/test/testTracksFromGenParticles/runTracksFromGenParticles.py
  VTXdigi/test/runVTXdigitizer.py
  share/runDigi.py
Due: ruff-format

Add basic pre-commit setup to enforce style
  .github/scripts/clang-format-hook
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  .ruff.toml
Due: none

Add formatting commits to ignore list for blames
  .git-blame-ignore-revs
Due: none

Update plot params: e.g. colorblind colors
  Tracking/options/histTrackParams.py
Due: ruff-format

avoid auto type
  Tracking/components/TrackD0Printer.cpp
Due: clang-format

uniform format for floats
  Tracking/options/histTrackParams.py
Due: ruff-format

histTrackParams: add argparse opts to choose which hists to show
  Tracking/options/histTrackParams.py
Due: ruff-format

FORMAT/REFAC: make pylint happy and obey naming convention
  Tracking/options/ExtractTrackParams.py
Due: ruff-format

Make python files adhere to ruff formatting rules
  Tracking/options/ExtractTrackParams.py
  Tracking/options/histTrackParams.py
Due: ruff-format

new structure of data dir with input /output subdirs
  Tracking/options/ExtractTrackParams.py
Due: ruff-format

Introduce DetMod property at_fcc/ilc, use enum to avoid to hard code accelerator names
  Tracking/options/ExtractTrackParams.py
Due: ruff-format

Outsource printStars
  Tracking/components/TrackD0Printer.cpp
  Tracking/components/printStars.cpp
  Tracking/components/printStars.h
Due: clang-format

print error on phi, info() instead of std::cout
  Tracking/components/TrackD0Printer.cpp
Due: clang-format

make ruff happy
  Tracking/options/histTrackParams.py
  Tracking/options/plotting.py
Due: ruff-format

start switch to fmt::format and outsource value + uncertainty printing into func
  Tracking/components/TrackD0Printer.cpp
Due: clang-format

python param for nStars in print stars in box
  Tracking/components/TrackD0Printer.cpp
  Tracking/options/printD0.py
Due: clang-format, ruff-format

minor: add comments
  Tracking/options/histTrackParams.py
Due: ruff-format

add script to hist diff in track params
  Tracking/options/histTrackParams.py
Due: ruff-format

Outsource hist xlims in proper dict
  Tracking/options/histTrackParams.py
Due: ruff-format

plot multiple vars in shared figure
  Tracking/options/histTrackParams.py
Due: ruff-format

experimental
  Tracking/components/ExtractTrackParams.cpp
  Tracking/options/ExtractTrackParams.py
Due: clang-format, ruff-format

outsource commonArgParsing, hists for several detMods
  Tracking/options/ExtractTrackParams.py
  Tracking/options/histTrackParams.py
Due: ruff-format

use type alias for edm4hep::TrackParams
  Tracking/components/ExtractTrackParams.cpp
Due: clang-format

use argparsing
  Tracking/options/ExtractTrackParams.py
Due: ruff-format

Switch to DEBUG output lvl for TrackD0Printer
  Tracking/options/printD0.py
Due: ruff-format

Outsource plotting params dict
  Tracking/options/histTrackParams.py
  Tracking/options/plotting.py
Due: ruff-format

printD0: reduce output level to INFO
  Tracking/options/printD0.py
Due: ruff-format

init
  Tracking/components/TrackD0Printer.cpp
  Tracking/options/printD0.py
Due: clang-format, ruff-format

move commonArgParsing out of this repo to shared
  Tracking/options/ExtractTrackParams.py
Due: ruff-format

new func printInStars && move to fmt::format
  Tracking/components/TrackD0Printer.cpp
Due: clang-format

Switch to track state AtIP instead of 2
  Tracking/components/TrackD0Printer.cpp
Due: clang-format

switch from print D0 to phi
  Tracking/components/TrackD0Printer.cpp
Due: clang-format

HistTrackParams: use typewriter font in the title
  Tracking/options/histTrackParams.py
Due: ruff-format

Extract Uncertainties of Track Params as well
  Tracking/components/ExtractTrackParams.cpp
  Tracking/options/histTrackParams.py
  Tracking/options/plotting.py
  Tracking/options/utils.py
Due: clang-format, ruff-format

Minor: avoid None return type
  Tracking/options/ExtractTrackParams.py
Due: ruff-format

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  ruff-format: any of: \.py$
