Repository key4hep/k4RecTracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ruff-format

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --force-exclude
  language: system

Add AI tools to the .gitignore file
  .gitignore
Due: none

ADD extra comments + MAKE calorimeter extrapolation optional + RENAME parameter for prompt track definition
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/include/FastCircleSeed.h
  Tracking/test/testTrackFitter/runTestTrackFitter.py
Due: clang-format, ruff-format

RENAME ListOfTypesToSkip
  Tracking/components/GenfitTrackFitter.cpp
Due: clang-format

FIX test
  Tracking/test/testTrackFitter/runTestTrackFitter.py
Due: ruff-format

Fix RPaths to the installation lib directory
  cmake/Key4hepConfig.cmake
Due: none

Update initialize Tracking/components/GenfitTrackFitter.cpp
  Tracking/components/GenfitTrackFitter.cpp
Due: clang-format

Pre-commit fix
  Tracking/components/GenfitTrackFitter.cpp
Due: clang-format

MAKE perfect tracking work with also secondary particles
  Tracking/components/PerfectTrackFinder.cpp
Due: clang-format

FIX trackstate debug output
  Tracking/components/GenfitTrackFitter.cpp
Due: clang-format

Add GenFit2-based Track Fitting Functional (#77)
  CMakeLists.txt
  Tracking/CMakeLists.txt
  Tracking/README.md
  Tracking/components/GGTFTrackFinder.cpp
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/components/PerfectTrackFinder.cpp
  Tracking/components/TracksFromGenParticles.cpp
  Tracking/include/FastCircleSeed.h
  Tracking/include/GenFitter.h
  Tracking/include/genfit_interfaces/GenfitField.h
  Tracking/include/genfit_interfaces/GenfitMaterialInterface.h
  Tracking/include/genfit_interfaces/GenfitPlanarMeasurement.h
  Tracking/include/genfit_interfaces/GenfitTrack.h
  Tracking/include/genfit_interfaces/GenfitWireMeasurement.h
  Tracking/include/utils.h
  Tracking/src/GenFitter.cpp
  Tracking/src/genfit_interfaces/GenfitField.cpp
  Tracking/src/genfit_interfaces/GenfitMaterialInterface.cpp
  Tracking/src/genfit_interfaces/GenfitPlanarMeasurement.cpp
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
  Tracking/src/genfit_interfaces/GenfitWireMeasurement.cpp
  Tracking/src/utils.cpp
  Tracking/test/runGenFitTrackingOnSimplifiedDriftChamber.py
  Tracking/test/testTrackFinder/runTestTrackFinder.py
  Tracking/test/testTrackFitter/runTestTrackFitter.py
  Tracking/test/testTrackFitter/test_trackFitter.sh
Due: clang-format, ruff-format

FIX phi0 type + FIX omega sign
  Tracking/include/genfit_interfaces/GenfitTrack.h
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

ADD covMatrix to trackStates
  Tracking/include/genfit_interfaces/GenfitTrack.h
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

Add extra comments
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

[TrackFit] Generalization for any Bz field direction
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/src/utils.cpp
Due: clang-format

Fix Jacobians from/to helix parametrization to/from cartesian parametrization + Fix step where it saves filtered tracks
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/include/genfit_interfaces/GenfitTrack.h
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

Fix units
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

Fix printout level
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

Fix pre-commit
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

Add comments describing units
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/include/genfit_interfaces/GenfitTrack.h
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

FIX comments
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

Use EDM4hep units in fitter implementation to support user-facing EDM4hep units
  Tracking/components/GenfitTrackFitter.cpp
Due: clang-format

Fix phi0 type in PCAInfo, correct omega sign, and add covariance matrix to TrackStates (#79)
  Tracking/components/GenfitTrackFitter.cpp
  Tracking/include/genfit_interfaces/GenfitTrack.h
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
Due: clang-format

VTXdigi: Updated UML. further work on README
  VTXdigi_Modular/README.md
  VTXdigi_Modular/UML.svg
Due: none

VTXdigi: added skeleton for testing
  VTXdigi_Modular/CMakeLists.txt
  VTXdigi_Modular/test/steering_digi.py
  VTXdigi_Modular/test/steering_sim.py
  VTXdigi_Modular/test/test.sh
Due: ruff-format

VTXdigi: add VTXdigi_Modular to repository content
  README.md
Due: none

Remove the deprecated k4DataSvc and PodioOutput
  ARCdigi/test/runARCdigitizer.py
  DCHdigi/test/runDCHsimpleDigitizer.py
  DCHdigi/test/runDCHsimpleDigitizerExtendedEdm.py
  VTXdigi/test/runVTXdigitizer.py
  VTXdigiDetailed/test/py_utils.py
  share/runDigi.py
Due: ruff-format

Remove the deprecated k4DataSvc and PodioOutput (#82)
  ARCdigi/test/runARCdigitizer.py
  DCHdigi/test/runDCHsimpleDigitizer.py
  DCHdigi/test/runDCHsimpleDigitizerExtendedEdm.py
  VTXdigi/test/runVTXdigitizer.py
  VTXdigiDetailed/test/py_utils.py
  share/runDigi.py
Due: ruff-format

VTXdigi: add a bunch of debugging histograms
  VTXdigi_Modular/README.md
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/include/VTXdigi_tools.h
  VTXdigi_Modular/src/ChargeCollector_impl.cpp
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
  VTXdigi_Modular/src/VTXdigi_tools.cpp
Due: clang-format

VTXdigi: implementing config param to disable checking the pitch and thickness stored in the LUT file against the values from the detector geometry
  VTXdigi_Modular/README.md
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/src/ChargeCollector_impl.cpp
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
Due: clang-format

VTXdigi: printing sensor dimensions
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
Due: clang-format

VTXdigi: Testing options to find sensitive surface thickness
  VTXdigi_Modular/src/ChargeCollector_impl.cpp
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
Due: clang-format

VTXdigi: Reading sensor active volume from dd4hep::Solid to find depletion region depth, implementing checks on active vs total sensor volume
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/include/VTXdigi_tools.h
  VTXdigi_Modular/src/ChargeCollector_impl.cpp
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
  VTXdigi_Modular/src/VTXdigi_tools.cpp
Due: clang-format

VTXdigi: final fix to getting sensor dimensions from solid and sensitive surface
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
Due: clang-format

Add Ubuntu 26 builds in CI
  .github/workflows/key4hep-build.yaml
Due: none

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  ruff-format: any of: \.py$
