Repository key4hep/k4RecTracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ruff-format

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --force-exclude
  language: system

VTXdigi: centralise simHitPos position check. Consistently use double for position. COnsistent pixel-index / pixel-coordinate naming.
  VTXdigi_Modular/include/IChargeCollector.h
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/include/VTXdigi_tools.h
  VTXdigi_Modular/src/ChargeCollector_impl.cpp
  VTXdigi_Modular/src/ChargeCollector_impl.h
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
  VTXdigi_Modular/src/VTXdigi_tools.cpp
Due: clang-format

VTXdigi: wrap debug() / verbose() calls in if-clause to avoid the expensive string-assembly in at higher log-levels
  VTXdigi_Modular/src/ChargeCollector_impl.cpp
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
Due: clang-format

VTXdigi: fix plotting bugs. Minor cleanup
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/src/ChargeCollector_impl.cpp
  VTXdigi_Modular/src/ChargeCollector_impl.h
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
Due: clang-format

VTXdigi: replace std::runtime_error with GaudiException for consistency
  VTXdigi_Modular/src/ChargeCollector_impl.cpp
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
  VTXdigi_Modular/src/VTXdigi_tools.cpp
Due: clang-format

VTXdigi: collect length conversion factors in VTXdigi_tools
  VTXdigi_Modular/include/VTXdigi_tools.h
  VTXdigi_Modular/src/ChargeCollector_impl.cpp
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
Due: clang-format

VTXdigi: renaming LookupTable (LUT) to ChargeCollectionmap (CCMap)
  VTXdigi_Modular/include/IChargeCollector.h
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/include/VTXdigi_tools.h
  VTXdigi_Modular/src/ChargeCollector_impl.cpp
  VTXdigi_Modular/src/ChargeCollector_impl.h
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
  VTXdigi_Modular/test/resources/charge_collection_map_dummy_pixelVol20x20x43p5um.init
  VTXdigi_Modular/test/resources/charge_collection_map_dummy_pixelVol20x20x50um.init
  VTXdigi_Modular/test/resources/geometry_SingleSensor_v1.xml
  VTXdigi_Modular/test/resources/geometry_SingleSensor_v2.xml
  VTXdigi_Modular/test/test_ALLEGRO.sh
  VTXdigi_Modular/test/test_ALLEGRO/steering_digi.py
  VTXdigi_Modular/test/test_SingleSensor.sh
  VTXdigi_Modular/test/test_SingleSensor/steering_digi.py
  VTXdigi_Modular/test/tools/generate-dummy-CCMap.py
Due: clang-format, ruff-format

Clean utils and Introduce GeoNavigatorStateGuard for restoring navigator state
  Tracking/include/genfit_interfaces/GenfitTrack.h
  Tracking/include/utils.h
  Tracking/src/genfit_interfaces/GenfitTrack.cpp
  Tracking/src/utils.cpp
Due: clang-format

Write include only in .h
  Tracking/include/utils.h
  Tracking/src/utils.cpp
Due: clang-format

VTXdigi: start working on readme. Intro & Gaudi properties done. Physics mostly done.
  VTXdigi_Modular/README.md
Due: none

VTXdigi: Readme mostly done. some minor fixes to problems found while writing
  VTXdigi_Modular/README.md
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/include/VTXdigi_tools.h
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
  VTXdigi_Modular/test/test_ALLEGRO/steering_digi.py
  VTXdigi_Modular/test/test_SingleSensor/steering_digi.py
Due: clang-format, ruff-format

VTXdigi: formatting with clang and ruff
  VTXdigi_Modular/include/IChargeCollector.h
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/include/VTXdigi_tools.h
  VTXdigi_Modular/src/ChargeCollector_impl.cpp
  VTXdigi_Modular/src/ChargeCollector_impl.h
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
  VTXdigi_Modular/src/VTXdigi_tools.cpp
  VTXdigi_Modular/test/tools/extract_cluster_uncertainties.py
Due: clang-format, ruff-format

VTXdigi: update central readme
  README.md
Due: none

VTXdigi: remove my typo
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
Due: clang-format

VTXdigi: fix warning that only shows up in ALMA9 runner, not in Ubuntu24/26
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
Due: clang-format

Make embedding space dimension flexible
  Tracking/README.md
  Tracking/components/GGTFTrackFinder.cpp
  Tracking/include/utils.h
  Tracking/src/utils.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  ruff-format: any of: \.py$
