Repository key4hep/k4RecTracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        types: [c++]
        language: system
      - id: ruff-format
        name: ruff-format
        entry: ruff format --force-exclude
        types: [python]
        language: system

fix comments
  Tracking/components/TrackD0Printer.cpp
Due: clang-format

Make TrackState nullable w/ std::optional, use TrackParam enum to assign params to tuple indices
  Tracking/components/ExtractTrackParams.cpp
Due: clang-format

make ExtractTrackParams compatible with FCC models
  Tracking/options/ExtractTrackParams.py
Due: ruff-format

Merge utility functionality into existing structure
  Tracking/components/ExtractTrackParams.cpp
  Tracking/components/TrackD0Printer.cpp
  Tracking/components/printStars.cpp
  Tracking/components/printStars.h
  Tracking/include/utils.hpp
  Tracking/src/utils.cpp
Due: clang-format

minor: update env var name
  Tracking/options/ExtractTrackParams.py
Due: ruff-format

alignment of det mod handling with BS repo
  Tracking/options/ExtractTrackParams.py
  Tracking/options/histTrackParams.py
Due: ruff-format

Remove comment
  DCHdigi/src/DCHsimpleDigitizer.cpp
Due: clang-format

Use detElem.nominal().{localToWorld|worldToLocal} to avoid warnings
  DCHdigi/src/DCHsimpleDigitizer.cpp
  DCHdigi/src/DCHsimpleDigitizerExtendedEdm.cpp
Due: clang-format

Use detElem.nominal().{localToWorld|worldToLocal} to avoid warnings (#73)
  DCHdigi/src/DCHsimpleDigitizer.cpp
  DCHdigi/src/DCHsimpleDigitizerExtendedEdm.cpp
Due: clang-format

Release Notes for v00.07.00
  doc/ReleaseNotes.md
Due: none

Updating version to v00.07.00
  CMakeLists.txt
Due: none

Change segment length to 1mum and adapt debug histograms
  VTXdigiDetailed/src/VTXdigitizerDetailed.cpp
Due: clang-format

Update Key4hepConfig.cmake to remove the -Wno-dangling-reference warning with GCC
  cmake/Key4hepConfig.cmake
Due: none

Use KeyValue instead of KeyValues
  VTXdigiDetailed/src/VTXdigitizerDetailed.cpp
Due: clang-format

Resolve usage of inputLocations function
  VTXdigiDetailed/src/VTXdigitizerDetailed.cpp
Due: clang-format

Automatize the way to get the normal vector for each sub-detector
  VTXdigiDetailed/include/VTXdigitizerDetailed.h
  VTXdigiDetailed/src/VTXdigitizerDetailed.cpp
Due: clang-format

Update the way to get cellID encoder without geoSvc
  VTXdigiDetailed/include/VTXdigitizerDetailed.h
  VTXdigiDetailed/src/VTXdigitizerDetailed.cpp
Due: clang-format

Minor change for clarity
  VTXdigiDetailed/include/VTXdigitizerDetailed.h
  VTXdigiDetailed/src/VTXdigitizerDetailed.cpp
Due: clang-format

Parametrize Pixel sizes
  VTXdigiDetailed/include/VTXdigitizerDetailed.h
  VTXdigiDetailed/src/VTXdigitizerDetailed.cpp
Due: clang-format

Parametrize the length of ionization steps
  VTXdigiDetailed/include/VTXdigitizerDetailed.h
  VTXdigiDetailed/src/VTXdigitizerDetailed.cpp
Due: clang-format

Add a test file
  VTXdigiDetailed/test/runVTXdigitizer.py
Due: ruff-format

Create a correct test file and include it in ctest
  VTXdigiDetailed/CMakeLists.txt
  VTXdigiDetailed/test/Overlay.py
  VTXdigiDetailed/test/TrackingDigi.py
  VTXdigiDetailed/test/py_utils.py
  VTXdigiDetailed/test/runVTXdigitizer.py
  VTXdigiDetailed/test/test_VTXdigitizerDetailed.sh
Due: ruff-format

Update key4hep-build.yaml
  .github/workflows/key4hep-build.yaml
Due: none

Resolve formating
  VTXdigiDetailed/include/VTXdigitizerDetailed.h
  VTXdigiDetailed/src/VTXdigitizerDetailed.cpp
  VTXdigiDetailed/test/Overlay.py
  VTXdigiDetailed/test/TrackingDigi.py
  VTXdigiDetailed/test/py_utils.py
  VTXdigiDetailed/test/test_VTXdigitizerDetailed.sh
Due: clang-format, ruff-format

Simplify change of frames and debug directions of plans in output TrackerHitPlanes
  VTXdigiDetailed/include/VTXdigitizerDetailed.h
  VTXdigiDetailed/src/VTXdigitizerDetailed.cpp
Due: clang-format

Skip hits with unexpected large hit time (such hits create a bug at later Refit step)
  VTXdigiDetailed/include/VTXdigitizerDetailed.h
  VTXdigiDetailed/src/VTXdigitizerDetailed.cpp
Due: clang-format

Update VTXDigiDetailled test
  VTXdigiDetailed/CMakeLists.txt
  VTXdigiDetailed/test/collections_rec_level.txt
  VTXdigiDetailed/test/py_utils.py
  VTXdigiDetailed/test/test_VTXdigitizerDetailed.sh
  VTXdigiDetailed/test/test_digi_steering.py
Due: ruff-format

Fix crash when running with onnxruntime 1.23.2 by using Ort::MemoryInfo
  Tracking/components/GGTF_tracking.cpp
Due: clang-format

Fix crash when running with onnxruntime 1.23.2 by using Ort::MemoryInfo (#74)
  Tracking/components/GGTF_tracking.cpp
Due: clang-format

Add override to GGTF_tracking to fix compiler warnings
  Tracking/components/GGTF_tracking.cpp
Due: clang-format

Add override to GGTF_tracking to fix compiler warnings (#75)
  Tracking/components/GGTF_tracking.cpp
Due: clang-format

VTXdigi: Fixing and clarifying VTXdigi_Modular::InitLayersAndSensors(). Implementing class VTXdigi_tools::PixelChargeMatrix()
  VTXdigi_Modular/include/IChargeCollector.h
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/include/VTXdigi_tools.h
  VTXdigi_Modular/src/ChargeCollector.cpp
  VTXdigi_Modular/src/ChargeCollector.h
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
  VTXdigi_Modular/src/VTXdigi_tools.cpp
Due: clang-format

VTXdigi: adding pixel- and binning-focused VTXdigi_tools. Implementing SensorChargeMatrix.
  VTXdigi_Modular/include/IChargeCollector.h
  VTXdigi_Modular/include/VTXdigi_tools.h
  VTXdigi_Modular/src/ChargeCollector.cpp
  VTXdigi_Modular/src/ChargeCollector.h
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
  VTXdigi_Modular/src/VTXdigi_tools.cpp
Due: clang-format

VTXdigi: Implementing loop over sensors & hits on each sensor in the event loop
  VTXdigi_Modular/include/IChargeCollector.h
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/include/VTXdigi_tools.h
  VTXdigi_Modular/src/ChargeCollector.cpp
  VTXdigi_Modular/src/ChargeCollector.h
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
  VTXdigi_Modular/src/VTXdigi_tools.cpp
Due: clang-format

VTXdigi: Skeleton for event-loop is mostly done. Implemented simple no-charge-sharing ChargeCollector to test. Works as expected.
  VTXdigi_Modular/include/IChargeCollector.h
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/include/VTXdigi_tools.h
  VTXdigi_Modular/src/ChargeCollector.cpp
  VTXdigi_Modular/src/ChargeCollector.h
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
  VTXdigi_Modular/src/VTXdigi_tools.cpp
Due: clang-format

VTXdigi: Better eventloop strucutre, matching pixelHits to closest simHits. Create digiHits.
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/include/VTXdigi_tools.h
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
  VTXdigi_Modular/src/VTXdigi_tools.cpp
Due: clang-format

VTXdigi: adding 1d-histograms
  VTXdigi_Modular/include/VTXdigi_Modular.h
  VTXdigi_Modular/include/VTXdigi_tools.h
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
  VTXdigi_Modular/src/VTXdigi_tools.cpp
Due: clang-format

Debug test file
  VTXdigiDetailed/CMakeLists.txt
  VTXdigiDetailed/test/collections_rec_level.txt
  VTXdigiDetailed/test/test_VTXdigitizerDetailed.sh
  VTXdigiDetailed/test/test_digi_steering.py
Due: ruff-format

VTXdigi: implementing a HitMap based on std::unordered_map instead on std::vector<int> with an entry for every pixel. For small pixel occupancy O(0.001%) this is A LOT faster.
  VTXdigi_Modular/include/IChargeCollector.h
  VTXdigi_Modular/include/VTXdigi_tools.h
  VTXdigi_Modular/src/ChargeCollector.cpp
  VTXdigi_Modular/src/ChargeCollector.h
  VTXdigi_Modular/src/VTXdigi_Modular.cpp
  VTXdigi_Modular/src/VTXdigi_tools.cpp
Due: clang-format

Remove unuseful Overlay in test file
  VTXdigiDetailed/test/Overlay.py
  VTXdigiDetailed/test/test_digi_steering.py
Due: ruff-format
